<h1>Log in</h1>

<%= form_with model: @user, url: sessions_path, local: true do |f| %>
<div class="card col-md-6">
  <p>
  <%= f.label :email %>
  <%= f.text_field :email %>
  </p>  
  <p>
  <%= f.label :password %>
  <%= f.password_field :password %>
  </p>
  <%= f.submit "Entrar", class: "btn btn-primary" %>
</div>
<% end %>